In [ ]:
import findspark
import pyspark
findspark.init()
from pyspark import SparkContext
sc =SparkContext() #SparkContext
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)

In [4]:
# create a dataframe out of it
df = spark.read.parquet('data/hmp.parquet')

# register a corresponding query table
df.createOrReplaceTempView('df')

In [5]:
df.show()
df.printSchema()

+---+---+---+--------------------+-----------+
|  x|  y|  z|              source|      class|
+---+---+---+--------------------+-----------+
| 22| 49| 35|Accelerometer-201...|Brush_teeth|
| 22| 49| 35|Accelerometer-201...|Brush_teeth|
| 22| 52| 35|Accelerometer-201...|Brush_teeth|
| 22| 52| 35|Accelerometer-201...|Brush_teeth|
| 21| 52| 34|Accelerometer-201...|Brush_teeth|
| 22| 51| 34|Accelerometer-201...|Brush_teeth|
| 20| 50| 35|Accelerometer-201...|Brush_teeth|
| 22| 52| 34|Accelerometer-201...|Brush_teeth|
| 22| 50| 34|Accelerometer-201...|Brush_teeth|
| 22| 51| 35|Accelerometer-201...|Brush_teeth|
| 21| 51| 33|Accelerometer-201...|Brush_teeth|
| 20| 50| 34|Accelerometer-201...|Brush_teeth|
| 21| 49| 33|Accelerometer-201...|Brush_teeth|
| 21| 49| 33|Accelerometer-201...|Brush_teeth|
| 20| 51| 35|Accelerometer-201...|Brush_teeth|
| 18| 49| 34|Accelerometer-201...|Brush_teeth|
| 19| 48| 34|Accelerometer-201...|Brush_teeth|
| 16| 53| 34|Accelerometer-201...|Brush_teeth|
| 18| 52| 35|Accelerometer-201...|Brush_teeth|
| 18| 51| 32|Accelerometer-201...|Brush_teeth|
+---+---+---+--------------------+-----------+
only showing top 20 rows

root
 |-- x: integer (nullable = true)
 |-- y: integer (nullable = true)
 |-- z: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- class: string (nullable = true)

In [6]:
spark.sql('select class,count(*) from df group by class').show()

+--------------+--------+
|         class|count(1)|
+--------------+--------+
| Use_telephone|   15225|
| Standup_chair|   25417|
|      Eat_meat|   31236|
|     Getup_bed|   45801|
|   Drink_glass|   42792|
|    Pour_water|   41673|
|     Comb_hair|   23504|
|          Walk|   92254|
|  Climb_stairs|   40258|
| Sitdown_chair|   25036|
|   Liedown_bed|   11446|
|Descend_stairs|   15375|
|   Brush_teeth|   29829|
|      Eat_soup|    6683|
+--------------+--------+

In [7]:
df.groupBy('class').count().show()

+--------------+-----+
|         class|count|
+--------------+-----+
| Use_telephone|15225|
| Standup_chair|25417|
|      Eat_meat|31236|
|     Getup_bed|45801|
|   Drink_glass|42792|
|    Pour_water|41673|
|     Comb_hair|23504|
|          Walk|92254|
|  Climb_stairs|40258|
| Sitdown_chair|25036|
|   Liedown_bed|11446|
|Descend_stairs|15375|
|   Brush_teeth|29829|
|      Eat_soup| 6683|
+--------------+-----+

In [8]:
import pixiedust
from pyspark.sql.functions import col
counts = df.groupBy('class').count().orderBy('count')
display(counts)

In [10]:
spark.sql('''
    select 
        *,
        max/min as minmaxratio -- compute minmaxratio based on previously computed values
        from (
            select 
                min(ct) as min, -- compute minimum value of all classes
                max(ct) as max, -- compute maximum value of all classes
                mean(ct) as mean, -- compute mean between all classes
                stddev(ct) as stddev -- compute standard deviation between all classes
                from (
                    select
                        count(*) as ct -- count the number of rows per class and rename it to ct
                        from df -- access the temporary query table called df backed by DataFrame df
                        group by class -- aggrecate over class
                )
        )   
''').show()

+----+-----+------------------+------------------+-----------------+
| min|  max|              mean|            stddev|      minmaxratio|
+----+-----+------------------+------------------+-----------------+
|6683|92254|31894.928571428572|21284.893716741157|13.80427951518779|
+----+-----+------------------+------------------+-----------------+

In [11]:
from pyspark.sql.functions import col, min, max, mean, stddev

df \
    .groupBy('class') \
    .count() \
    .select([ 
        min(col("count")).alias('min'), 
        max(col("count")).alias('max'), 
        mean(col("count")).alias('mean'), 
        stddev(col("count")).alias('stddev') 
    ]) \
    .select([
        col('*'),
        (col("max") / col("min")).alias('minmaxratio')
    ]) \
    .show()

+----+-----+------------------+------------------+-----------------+
| min|  max|              mean|            stddev|      minmaxratio|
+----+-----+------------------+------------------+-----------------+
|6683|92254|31894.928571428572|21284.893716741157|13.80427951518779|
+----+-----+------------------+------------------+-----------------+

In [13]:
#Now it’s time for you to work on the data set. 
# First, please create a table of all classes with the respective counts,
# but this time, please order the table by the count number, ascending.
spark.sql(

'''select class,count(*) from df group by class order by count(*) desc '''

).show()

+--------------+--------+
|         class|count(1)|
+--------------+--------+
|          Walk|   92254|
|     Getup_bed|   45801|
|   Drink_glass|   42792|
|    Pour_water|   41673|
|  Climb_stairs|   40258|
|      Eat_meat|   31236|
|   Brush_teeth|   29829|
| Standup_chair|   25417|
| Sitdown_chair|   25036|
|     Comb_hair|   23504|
|Descend_stairs|   15375|
| Use_telephone|   15225|
|   Liedown_bed|   11446|
|      Eat_soup|    6683|
+--------------+--------+

In [20]:
df.groupBy('class').count().orderBy(col('count'),ascending=False).show()
# df.groupBy('class').count().sort(col('count'),ascending=True).show()

+--------------+-----+
|         class|count|
+--------------+-----+
|          Walk|92254|
|     Getup_bed|45801|
|   Drink_glass|42792|
|    Pour_water|41673|
|  Climb_stairs|40258|
|      Eat_meat|31236|
|   Brush_teeth|29829|
| Standup_chair|25417|
| Sitdown_chair|25036|
|     Comb_hair|23504|
|Descend_stairs|15375|
| Use_telephone|15225|
|   Liedown_bed|11446|
|      Eat_soup| 6683|
+--------------+-----+

In [22]:
#Pixiedust is a very sophisticated library. 
# It takes care of sorting as well. 
# Please modify the bar chart so that it gets sorted by the 
# number of elements per class, ascending. 
# Hint: It’s an option available in the UI once rendered using the display() function.
counts_asc = df.groupBy('class').count().sort(col('count'),ascending=True)
display(counts_asc)

In [23]:
# Imbalanced classes can cause pain in machine learning. 
# Therefore let’s rebalance. In the flowing we limit the number of elements
# per class to the amount of the least represented class. 
# This is called undersampling. Other ways of rebalancing can be found here:
# from pyspark.sql.functions import min

# create a list of distinct classes from the dataset
classes = [row[0] for row in df.select('class').distinct().collect()]

# compute the number of elements of the smallest class in order to limit the number of samples per calss
min = df.groupBy('class').count().select(min('count')).first()[0]

# define the result dataframe variable
df_balanced = None

# iterate over distinct classes
for cls in classes:
    
    # only select examples for the specific class within this iteration
    # shuffle the order of the elements (by setting fraction to 1.0 sample works like shuffle)
    # return only the first n samples
    df_temp = df \
        .filter("class = '"+cls+"'") \
        .sample(False, 1.0) \
        .limit(min)
    
    # on first iteration, assing df_temp to empty df_balanced
    if df_balanced == None:    
        df_balanced = df_temp
    # afterwards, append vertically
    else:
        df_balanced=df_balanced.union(df_temp)

In [15]:
sc.stop()

In [29]:
df_temp.show(10)

+---+---+---+--------------------+--------+
|  x|  y|  z|              source|   class|
+---+---+---+--------------------+--------+
| 36| 37| 51|Accelerometer-201...|Eat_soup|
| 36| 37| 51|Accelerometer-201...|Eat_soup|
| 35| 38| 53|Accelerometer-201...|Eat_soup|
| 36| 39| 52|Accelerometer-201...|Eat_soup|
| 36| 38| 51|Accelerometer-201...|Eat_soup|
| 35| 37| 51|Accelerometer-201...|Eat_soup|
| 36| 38| 52|Accelerometer-201...|Eat_soup|
| 36| 37| 52|Accelerometer-201...|Eat_soup|
| 36| 38| 51|Accelerometer-201...|Eat_soup|
| 37| 38| 51|Accelerometer-201...|Eat_soup|
+---+---+---+--------------------+--------+
only showing top 10 rows